body {
    background-color: #D6EFD8;
}

.container {
    display: block;
    color: #1A5319;
    justify-content: center;
}
.photoIn {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #1A5319;
    float: left;
    margin-right: 50px;
    margin-left: 40px;
}
#one {
    margin-left: 20px;
    font-size: 2rem ;
}

h1 {
    font-size: 100px;
    text-align: center;
    padding-top: 0px;
    margin-top: none;
}

h3 {
    font-size:xx-large;
}
#f1 {
    margin-bottom: 30px;  
    margin-right: -50px;  
    margin-top: -50px;
}

#f2 {
    margin-bottom: -20px;
    margin-left: -40px; 
    margin-top: -50px;
}

p {
    color: #508D4E;
    font-family: sans-serif;
    font-size: smaller;
}

#resume {
    display: flex;
    justify-content: space-around;
    min-width: fit-content;
}
@media (max-width: 1000px) {
    #resume {
        display: flexbox;
        flex-direction: column;
        align-items: center;
        min-width: fit-content;
        gap: 10px;
    }
    .pro {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .pro2 {
        background-color: #1A5319;
    }
    .r1 {
        margin-left: 50px;
    }
}
@media (max-width: 800px) {
    .photoIn {
        float: none;
    }
    .photo {
        display: flex;
        justify-content: center;
    }
}

#edu {
    background-color: #1A5319;
    margin-right: 20px;
    text-align: center;
    font-size: larger;
    display: grid;
    grid-template-rows: 100px auto;
    width: 20rem;
    border: 2px solid #508D4E;
    border-radius: 5px;
}
.top {
    background-color: #508D4E;
    font-size: larger;
    color: #D6EFD8;
    text-align: center;
}
.bot {
    background-color: #D6EFD8;
    color: #1A5319;
    padding: 10px;
    align-content: center;
}

#skill {
    background-color: #D6EFD8;
    color: #D6EFD8;
    margin-right: 20px;
    font-size: larger;
    display: grid;
    grid-template-rows: 100px auto;
    width: 20rem;
    border: 2px solid #80AF81;
    border-radius: 5px;
}

#work {
    background-color: #80AF81;
    margin-right: 20px;
    font-size: larger;
    display: grid;
    grid-template-rows: 100px auto;
    width: 20rem;
    border: 2px solid #508D4E;
    border-radius: 5px;
}


.topW {
    background-color: #D6EFD8;
    color: #508D4E;
    padding: 10px;
    text-align: center;
}

.botW {
    background-color: #508D4E;
    padding: 10px 10px 10px 20px;
    color: #D6EFD8;
}

#three {
    justify-content: start;
}

.head {
    text-align: center;
    font-size: 50px;
}

#three {
    background-color: #1A5319;
    color: #D6EFD8;
    font-size: larger;
    border-radius: 5px;
}

#contact {
    display: grid;
    justify-content: center;
    margin-top: 10px;
}

.title{
    font-size: 40px;
}

.r1 {
    display: block;
    flex-direction: column;
    justify-content: center;
}
#f3 {
    float: right;
}
.projects {
    justify-content: center;
    text-align: center;
    color: #1A5319;
}
.pro {
    display: flex;
    justify-content: space-around;
}
.pro1 {
    background-color: #80AF81;
    border-radius: 5px;
    margin: 5px;
    padding: 50px;
}
.pro2 {
    background-color: #80AF81;
    border-radius: 5px;
    margin: 5px;
    padding: 50px;
}
.description {
    color: #D6EFD8;
}
